<span>Search</span>

<form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
	<input name="TITLE" placeholder="Game title" ngModel>
	<input name="CONSOLE" placeholder="Console" ngModel>
	<input name="REGION" placeholder="Region" ngModel>
	<input name="LANGUAGE" placeholder="Language" ngModel>
	<input name="EDITION" placeholder="Edition" ngModel>
	<input name="CASE_TYPE" placeholder="Case type" ngModel>
	<label for="completeTripleToggle">Complete</label>
	<input name="COMPLETE" [(ngModel)]="completeStatusToggle" type="checkbox" id="completeTripleToggle" (click)="toggle(); $event.preventDefault()" [indeterminate]="completeStatusToggle === ''">
	<input type="submit">
</form>

@if (searched) {
	<p>Number of games : {{games().length}}</p>
}

<table>
	<tr>
		<th>Title</th>
		<th>Console</th>
		<th>Region</th>
		<th>Language</th>
		<th>Edition</th>
		<th>Case type</th>
		<th>Complete</th>
		<th>Miscellaneous</th>
	</tr>

	@for (game of games(); track game) {
		<tr>
			<td>{{game.TITLE}}</td>
			<td>{{game.CONSOLE}}</td>
			<td>{{game.REGION}}</td>
			<td>{{game.LANGUAGE}}</td>
			<td>{{game.EDITION}}</td>
			<td>{{game.CASE_TYPE}}</td>
			<td>{{game.COMPLETE}}</td>
			<td>{{game.MISC}}</td>
		</tr>
	}
</table>

<span>Add</span>

<form #addForm="ngForm" (ngSubmit)="add(addForm)">
	<input name="TITLE" placeholder="Game title" ngModel>
	<input name="CONSOLE" placeholder="Console" ngModel>
	<input name="REGION" placeholder="Region" ngModel>
	<input name="LANGUAGE" placeholder="Language" ngModel>
	<input name="EDITION" placeholder="Edition" ngModel>
	<input name="CASE_TYPE" placeholder="Case type" ngModel>
	<label for="completeCheckbox">Complete</label>
	<input name="COMPLETE" type="checkbox" id="completeCheckbox" [ngModel]=true>
	<input name="MISC" placeholder="Miscellaneous" ngModel>
	<input type="submit">
</form>

<span>Import</span>

<form (ngSubmit)="import(fileInput)">
	<input #fileInput type="file" accept=".csv,.txt">
	<input type="submit">
</form>